body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    min-height: 3000px;

}

.container {
    width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .logo {
    display: inline-block;
    text-align: center;
    font-size: 27px;
}

header .logo span {
    vertical-align: middle;
}

header .logo .ponto-azul {
    background-color: #3e50e5;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}

header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;

}

ul {
    margin: 0px;
    padding: 0px;

}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}

header nav ul li a {
    color: #3e3e3e;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #3e50e5;
    transition: ease 0.5s;
}

header nav ul li:last-of-type a {
    margin-right: 0px;
}

section.hero img {
    margin-top: 80px;
    height: auto;
    width: 100%;
}

section.hero {
    position: relative;
    height: auto;
    /* ou defina uma altura específica */
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    max-width: 495px;
    color: white;
    font-family: Heebo;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    font-weight: normal;
   
}

.hero-content p {
    margin-top:0;
    margin-bottom:21px;
   max-width: 505px;
   color:white;
   font-family: 300;
   font-size:20px;
   letter-spacing: 0.5px;
   line-height: 28px;
}
.hero-content button {
    height: 50px;
    width:30%;
    border-radius: 92px;
    background-color: #3e50e5;
    color:white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    
}
.hero-content button:hover {
    transition: 0.25s ease-in-out;
    cursor: pointer;
    background-color: #3e4fe5c0;
    
    transition: ease-in-out 0.2s ;
    background-color: white;
    cursor: pointer;
    color:black;
    border: 1px solid #001aff59;
}

* {
    margin: 0;
    font-family: Heebo;
}
section.best-sellers{
    padding-top:80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 14px;
}
section.best-sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    }
section.best-sellers hr {
    margin-top:35px;
    width:66px;
    border:none;
    border-top:5px solid #67f110;
    border-radius:5px;
    margin-bottom:75px;
}
.product-slider{
    display:flex;
    justify-content: center;
    align-items: center;
}

.product-slider .produto-container{
    margin: 5px;
    max-width: 470px;
    max-height: 561px;
    min-width: 400px;
    min-height: 400px;
   border: 1px solid rgba(0, 0, 0, 0.219);
   border-radius: 5px;
   position:relative;
   flex-direction: column;
   justify-content: space-between;
}

.produto-container .img-container{
    margin-top:25px;
    display:flex;
    justify-content: center;
}
.produto-container .img-container img{
    width: 200px;
    height: 200px;
}
.product-slider h4{
text-align:center;
color:#3e50e5;
margin-top:10px;
font-weight: normal;
font-family: Heebo;
}
.product-slider h3{
    text-align:center;
    margin-top:5px;
    font-weight: normal;
    font-family: Heebo;
    }
    .product-slider h2{
        text-align:center;
        margin-top:5px;
        font-weight: normal;
        font-family: Heebo;
        }
        .product-slider button{
            
            height: 40px;
            width: 50%;
            background-color: #001aff59;

            border-radius: 25px;
            color:white;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.4px;
            line-height: 24px;
            text-align: center;
            border: none;
            text-transform: uppercase;

            }
            .product-slider button:hover{
                transition: ease-in-out 0.2s ;
                background-color: white;
                cursor: pointer;
                color:black;
                border: 1px solid #001aff59;
                }

.button-product{
    margin-bottom: 10px;
    margin-top:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
section.best-sellers .product-slider .produto-container::before{
    content: "Novo";
    background-color: red;
    position:absolute;
    top:0;
    right:0;
    border-radius:5px;
    padding:6px 15px;
    margin:12px;
    color:white;
}
section.best-sellers .product-slider .produto-container .preco-original{
color:#9b9b9b;
font-weight:normal;
font-size:16px;
letter-spacing: 0.4px;
line-height: 30px;
text-decoration: line-through;

}

section.best-sellers .product-slider .produto-container .preco-descontado{

    color:#EC1C1C;
}

section.newsletter {
    background-color:rgba(200,200,200,0.18);
    max-width:955px;
    text-align:center;
    padding: 72px 0;
    margin: 80px auto;
    border-radius:10px;
}

section.newsletter h3{
    font-size:24px;
    letter-spacing: 0.6px;
    line-height: 42px;
    font-weight: normal;
    margin-top:0;
    margin-bottom:10px;

}
section.newsletter p{
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}
section.newsletter form{
    display: flex;
    justify-content: center;
}
section.newsletter form input{
    border-radius: 60px 0 0 60px;
    width: 326px;
    max-width: 80%;
    padding:0;
    padding-left: 20px;
    line-height: 21px;
    border:none;

}
section.newsletter form button{
    height: 50px;
    width: 145px;
    max-width: 20%;
    border-radius: 0 60px 60px 0;
    background-color:#3e50e5;
    border: #3e50e5;
    color:white;
    font-size:14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    cursor:pointer;
}

/* Responsivo notebook */
@media screen and (max-width: 1440px){
    .container {
        width: 1180px;
        max-width: 90%;
    }
    body{
        padding-top:70px;
    }
    header {
        height: 70px;
    }
}


/* Responsivo tablet */
@media screen and (max-width: 960px){
    .container {
        max-width: 92%;
    }
}


/* Responsivo mobile */
@media screen and (max-width: 576px){
    .container {
    }
}